* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #d00000, #ffce00);
    background-size: 400% 400%;
    animation: bgMove 10s infinite ease-in-out;
}

@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    z-index: 1000;
    border-bottom: 2px solid #ffce00;
    
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 46px;
  border-radius: 6px;
}

.brand {
    font-size: 20px;
    font-weight: 700;
    color: #ffce00;
}

.main-nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link {
  color: #e6e6e6;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 3px;
  position: relative;
  transition: 0.25s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2.5px;
  background: linear-gradient(to right, #d40000, #ffcc00);
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00;
}
.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #ffcc00;
}

.btn-login {
  background: linear-gradient(90deg, #d40000, #ffcc00);
  color: #000;
  padding: 9px 22px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(255,204,0,0.3);
  transition: 0.3s ease;
}

.btn-login:hover {
  filter: brightness(1.25);
  box-shadow: 0 0 15px rgba(255,204,0,0.55),
              0 0 25px rgba(212,0,0,0.4);
  transform: translateY(-2px);
}

.container {
    width: 50%;
    background: rgba(0, 0, 0, 0.55);
    margin: 50px auto;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    animation: fadeIn 1.3s ease;
    color: white;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}

.container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffce00;
    text-shadow: 0 0 10px rgba(255, 206, 0, 0.7);
}

form label {
    font-weight: 600;
    margin-top: 15px;
    display: block;
    color: #ff9900;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    transition: 0.3s ease;
}

form input:focus,
form textarea:focus {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(255, 206, 0, 0.7);
}

textarea {
    height: 120px;
}

button[type="submit"] {
    width: 100%;
    padding: 14px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffce00, #d00000);
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

button[type="submit"]:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(255, 206, 0, 0.9);
}

.site-footer {
    background: rgba(0,0,0,0.8);
    padding: 18px 0;
    border-top: 2px solid #ffce00;
}

.footer-inner {
    max-width: 2000px;
    margin: auto;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
}

.footer-right a {
    margin-left: 15px;
    color: #ffce00;
    text-decoration: none;
    font-weight: 600;
}

.footer-right a:hover {
    color: #d40000;
}
